<div class="dashboard">
    <aside class="sidebar" id="station-details">
        <div class="stations">
            <h2>Stations</h2>
        </div>
        @for (station of stations; track station._id) {
        <div class="station-card">
            <h4>{{ station.nombre }}</h4>
            <p>Disponibles: {{ station.bicicletasDisponibles }} / {{ station.capacidad }}</p>
        </div>
        } @empty {
            <p>No hay estaciones disponibles.</p>
        }
    </aside>


    <div class="main-content">
        <div id="map" class="map">
            @for (item of bikes; track $index) {
                <div class="bike-card">
                    <div class="bike-header">
                        <img src="https://images.pexels.com/photos/18279017/pexels-photo-18279017.jpeg?_gl=1*1e0dp4d*_ga*MTAyODYzNzQwMi4xNzU2NDIzMzQ0*_ga_8JE65Q40S6*czE3NTcyOTY5OTgkbzMkZzEkdDE3NTcyOTcwNTIkajYkbDAkaDA." alt="Bicicleta modelo X" class="bike-image">
                        <div class="bike-info">
                            <p class="bike-subtitle">
                                {{item.station.nombre}}
                            </p>
                        </div>
                    </div>
                    <div class="bike-card">
                        <div class="bike-header">
                            <div class="bike-info">
                                <p class="bike-subtitle">Ubicación: {{item.station.nombre}}</p>
                            </div>
                        </div>
                    <div class="bike-details">
                        <p><strong>ID:</strong>{{item.serial}}</p>
                        <p><strong>Estado:</strong>{{item.estado}}</p>
                        <p><strong>Tipo:</strong> Urbana</p>
                    </div>
                    <div class="bike-actions">
                        <button class="btn-primary">Alquilar</button>
                        <button class="btn-secondary">Ver detalles</button>
                    </div>
                    </div>
                </div>

            }
        </div>

        <section class="rented-bikes" id="rented-bikes">
            <h3>Bicicletas alquiladas</h3>

        </section>
    </div>
</div>
